<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.5.1.js"></script>
</head>
    <body>
        <header id="header-background">
            <h1 class="text-center">ЛУЧШИЕ СТАВКИ ТОЛЬКО ЗДЕСЬ</h1>
            @RenderSection("Header", false)
        </header>

    <section class="mainSection align-middle">
        @RenderBody()
    </section>

        <footer>
            @RenderSection("Footer", false)
        </footer>
    </body>
</html>